<div class="container">
    <h2>Professional Experience :-</h2>
    <ul>
        <li>Overall, 3 years of IT experience.</li>
        <li>Worked as a Developer and mainly focuses on the development of web
            applications using angular, focusing on enhancing UI and integrating APIs.</li>
        <li>Ability to deliver high quality deliverables within estimated timeframe.</li>
        <li>Ability to learn new technologies, update skill set and Cross skilling in short span
            of time.</li>
        <li>Developed multiple high-traffic web applications using Node.js, Express.js, and MongoDB, ensuring
            scalability, performance, and reliability.</li>
        <li>Designed and implemented RESTful APIs using Express.js, with a focus on security, caching, and error
            handling.</li>
        <li>Managed and optimized MongoDB databases for optimal performance, data integrity, and data retrieval
            efficiency.</li>
        <li>Collaborated with cross-functional teams to deliver projects, ensuring timely deployment and meeting
            business requirements.</li>
    </ul>
</div>