.container{
    margin: 20px 30px;
}

.container h2{
    margin: 20px;
}
.container ul{
    margin: 20px;
}
.container ul li{
    padding: 20px 0px;
}
.container ul li::marker{
    color: brown;
}