<div class="container">
    <h2>Work Experience</h2>
    <img src="https://cognizant.scene7.com/is/content/cognizant/COG-Logo-2022-1?fmt=png-alpha" />
    <h3><span>Current Role :- </span>Associate</h3>
    <p>Jun 2024 - Till Now</p>
    <h3><span>Role :- </span>Programmer Analyst</h3>
    <p>Jun 2023 - Jun 2024</p>
    <h3><span>Past Role :- </span>Programmer Analyst Trainee</h3>
    <p>Jun 2022 - Jun 2023</p>
    <h3><span>Internship</span></h3>
    <p>Mar 2022 - Jun 2022</p>
</div>