<div class="projects">
    <div class="header">
        <h2>My Projects</h2>
    </div>
    <div class="project1">
        <p class="project-header">1.Blood
            Donor Website</p>
        <h3>Donor</h3>
        <p>The Donor needs to register to this site. If anyone needs blood the donor gets notified
            by mail or by phone calls.</p>
        <h3>Some cool Features:-</h3>
        <p><b>*</b> The Donor can active or deactivate thier account at
            anytime without deleting thier account</p>
        <p><b>*</b> They also can delete thier account</p>
        <h3>Needer</h3>
        <p>The needer can contact the donor by two methods:</p>
        <p><b>Method 1</b><br>The needer can contact the
            donors by giving thier details.The details of the needer send to all the donor through mail,so the donor can
            contact with the needer easily.</p>
        <p><b>Method 2</b><br>The needer can contact the
            donor by selecting the blood type (For example :- If the person needs O positive blood they can select (O
            positive) ).</p><br>
        <h2>Sample image of my website</h2><img src="https://mukunthanprofile.netlify.app/assets/img/blood.png">
        <h3>The Link Of My Website is:- <a href="https://morning-fortress-21466.herokuapp.com/" target="_blank">Click
                Me</a></h3>
</div><br><br>
<div class="project1">
    <p class="project-header">2.FrontEnd
        Project </p>
    <p>Its like a Admin page.The user details can be Entered by the Admin, If any person want
        to correction thier details they can correct through admin,They also can delete thier details.This website
        can used for the corona patients They can register if they admitted and the details can be deleted or saved
        once the patients discharged </p><br>
    <h2>Sample image of my website</h2><img src="https://mukunthanprofile.netlify.app/assets/img/front.png">
    <h3>The Link Of My Website is:- <a href="https://objective-ramanujan-605507.netlify.app/" target="_blank">Click
            Me</a></h3>
</div><br><br>
<div class="project1">
    <p class="project-header">3.CRUD
        Application </p>
    <p>The crud Application it provides register, login, add, update and delete thier details
    </p><br>
    <h2>Sample image of my website</h2><img src="https://mukunthanprofile.netlify.app/assets/img/crud.png">
    <h3>The Link Of My Website is:- <a href="https://stoic-dubinsky-bfb2f2.netlify.app/" target="_blank">Click Me</a>
    </h3>
</div><br><br>
<div class="project1">
    <p class="project-header">4.Google
        Authenticator</p>
    <p>The user needs to click the button,the user details can be displayed</p>
    <h2>Sample image of my website</h2><img src="https://mukunthanprofile.netlify.app/assets/img/google1.png"><img src="https://mukunthanprofile.netlify.app/assets/img/google2.png">
    <h3>The Link Of My Website is:- <a href="https://dazzling-payne-890f09.netlify.app/" target="_blank">Click Me</a>
    </h3>
</div>
</div>