<div class="container">
    <div class="container1">
        <div class="content">
            <h2>Hey, Buddy!</h2>
            <h2>I am Mukunthan</h2>
            <h3>Whom you looking to hire!!</h3>
            <p>Professional MEAN | MERN | JAVA Software Developer</p>
            <a href="../../assets/Mukunthan M.pdf" download><button>Download CV</button></a>
        </div>
        <div class="image">
            <img src="../../assets/profile1.png" />
        </div>
    </div>
    <div class="icons">
        <a href="https://linkedin.com/in/mukunthan-m-7213811b7/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/mukunthan27" target="_blank"><i class="fa-brands fa-github"></i></a>
        <i  class="fa-solid fa-envelope" (click)="copy('mail')" title="click to copy"></i>
        <i class="fa-solid fa-square-phone" (click)="copy('mobile')" title="click to copy"></i>
    </div>
</div>