<div class="container">
    <h2>Educational Information</h2>
    <div class="content">
        <table>
            <tr>
                <th>SI.No</th>
                <th>Degree</th>
                <th>Academy</th>
                <th>Grades</th>
                <th>Year</th>
            </tr>
            <tr *ngFor="let detail of eduDetails">
                <td>{{detail.id}}</td>
                <td>{{detail.Degree}}</td>
                <td>{{detail.Academy}}</td>
                <td>{{detail.Grade}}</td>
                <td>{{detail.Year}}</td>
            </tr>
        </table>
    </div>
    <div class="content1">
        <table>
            <tr>
                <th>SI.No</th>
                <td>{{eduDetails[count].id}}</td>
            </tr>
            <tr>
                <th>Degree</th>
                <td>{{eduDetails[count].Degree}}</td>
            </tr>
            <tr>
                <th>Academy</th>
                <td>{{eduDetails[count].Academy}}</td>
            </tr>
            <tr>
                <th>Grades</th>
                <td>{{eduDetails[count].Grade}}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{eduDetails[count].Year}}</td>
            </tr>
        </table>
        <div class="mover">
            <input type="radio" name="detail" (click)="getValue(0)" checked/>
            <input type="radio" name="detail" (click)="getValue(1)"/>
            <input type="radio" name="detail" (click)="getValue(2)"/>
        </div>
    </div>
</div>